/*Ocultar header*/
[data-testid="stHeader"] {
    display: none;
}
/* Quitar botón de menú (los tres puntitos) */
[data-testid="stToolbar"] {
    display: none;
}
/* Ocultar footer */
footer {
    visibility: hidden;
}
[data-testid="stFooter"]{
    display: none;
}
/* Tipografía global */
html, body, [class*="css"] {
    font-family: 'Circular Std', sans-serif;
}

:root {
    --background-color: #0d001a; /* negro con tono morado */
    --secondary-bg: #14002a;
    --primary-color: #8a2be2; /* morado vivo */
    --accent-color: #a855f7;
    --text-color: #ffffff;
}

/* Fondo general */
[data-testid="stAppViewContainer"] {
    background: linear-gradient(180deg, #0d001a2c, #14002a7a);
    color: var(--text-color);
}
/* Quitar padding lateral */
[data-testid="stAppViewContainer"] > .main {
    padding: 0rem 2rem;
}

/* Ajustar contenido */
.block-container {
    padding-top: 6rem !important;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
/* Botones */
[data-testid="stButton"] button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
}
[data-testid="stButton"] button:hover {
    background-color: var(--accent-color);
}
/* HEADER */
.custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 99999; 

    display: flex;
    align-items: center;
    gap: 15px;

    padding: 10px 30px; 
    background-color: #0d001a;

    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0 0 10px #8a2be233;
}
/* LOGO */
.custom-header .logo {
    width: 50px;
    object-fit: cover;
    border-radius: 50%; /* opcional tipo circular */
}
.custom-header .logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
/* TEXTO */
.custom-header .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #1DB954;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1ed760;
}