@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pibble-matrix-container {
    background-image: var(--fondo-pibble);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 70vh; /* Ajusta según el alto que desees */
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
}

.mano-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Ajusta los margenes para que coincidan con la posición de las palmas en la imagen */
.mano-roja {
    margin-top: 250px; 
}

.mano-azul {
    margin-top: 250px;
}

/* Estilo Matrix para botones */
[data-testid="stBaseButton-secondary"] {
    border-radius: 50px !important; /* Forma de pastilla */
    padding: 10px 25px !important;
    text-transform: uppercase;
    font-weight: bold;
}

