/* DISEÑO DEL JUEGO DE PIBBLE.
- Todo lo visual de pibble, los colores de la mugre y animaciones básicas.
- etc.
*/

#boton-login{
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}